@{
    ViewData["Title"] = "Bảo hiểm du lịch";
}

<section class="list-products">
    <div class="content-product-wrap">
        <div class="row" style="margin:0">
            <div class="col-2" style="margin:auto">
                <div class="tilte-img">
                    <img src="~/images/bear_travel.svg">
                </div>
            </div>
            <div class="col-10 products-info">
                <div class="row"id="content-listproduct" style="margin: 0;">
                    <div class="col-3">
                        <div class="name-product">
                            <a href="#" class="btn">Thêm sản phẩm so sánh</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="name-product">
                            <a href="#" class="btn">Thêm sản phẩm so sánh</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="compare-product">
    <section class="compare-dd">
        <div>
            <div data-toggle="collapse" class="product-hot" data-target="#product-hot">So sánh các đặc điểm sản phẩm</div>
        </div>
        <div id="product-hot" class="collapse show">
            <div class="row" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Đánh giá chung</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="compare-information">
        <div>
            <div data-toggle="collapse" class="product-hot" data-target="#product-infomation">Thông tin chung</div>
        </div>
        <div id="product-infomation" class="collapse show">
            <div class="row payonline" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Có thể mua trực tuyến?</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row regula-age" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Quy định độ tuổi người lớn</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row define-family" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Định nghĩa gia đình</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row children" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Hồi hương trẻ em</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hightlight" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Điểm nổi bật</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="compare-accidents">
        <div>
            <div data-toggle="collapse" class="product-hot" data-target="#product-accidents">Tai nạn cá nhân và thương tật</div>
        </div>
        <div id="product-accidents" class="collapse show">
            <div class="row accident_myself" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Tai nạn cá nhân</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row foreign_medical" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Chi phí y tế nước ngoài</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row patients_relative" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Chi phí thân nhân thăm bệnh</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row subsidize" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Trợ cấp nằm viện ở nước ngoài</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="medical-cost">
        <div>
            <div data-toggle="collapse" class="product-hot" data-target="#medical-cost">Chi phí y tế</div>
        </div>
        <div id="medical-cost" class="collapse show">
            <div class="row medical_transport" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Vận chuyển y tế</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row support_service" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Dịch vụ hỗ trợ khẩn cấp 24/7</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row repatriated_corpse" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Hồi hương thi hài về Việt Nam</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row responsibility_third" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Trách nhiệm đối với bên thứ ba</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="travel_expenses">
        <div>
            <div data-toggle="collapse" class="product-hot" data-target="#travel_expenses">Chi phí đi lại/ Sự cố đi lại/ Hỗ trợ du lịch</div>
        </div>
        <div id="travel_expenses" class="collapse show">
            <div class="row lost_travel" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Mất giấy tờ  thông hành</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row receiving_slowly" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Nhận hành lý chậm</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row damages" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Thiệt hại hành lý và tư trang</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row trip_delay" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Chuyến đi bị trì hoãn</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cancel_trip" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Hủy chuyến đi</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row giveup_trip" style="margin:0">
                <div class="col-2" style="margin:auto;text-align: right;">
                    <span>Từ bỏ và rút ngắn chuyến đi</span>
                </div>
                <div class="col-10 products-info">
                    <div class="row">
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<p>* Lãi suất được cung cấp bởi ngân hàng hoặc GoBear liên hệ trực tiếp ngân hàng và
    chỉ mang tính tham khảo. Ngân hàng sẽ xác nhận lại lãi suất chính xác khi duyệt khoản
    vay. Lãi suất được cập nhật tháng 2/2019.
</p>